html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Charter';
  src:  url('../fonts/charter.woff') format('woff'),
        url('../fonts/charter.ttf') format('truetype');
}


body{
	margin: 0 auto;
	font-size:62.5%;
	text-align: center;
	background-color: rgba(121,143,166,0.30);

}

.masthead {
	background-image: url('https://images.unsplash.com/uploads/14132599381062b4d4ede/3b6f33f2?q=80&fm=jpg&s=53083609e35c92b77cb656ad50d0782f');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 25rem;
	position: relative;


}

.headers {
	

	max-width: 100%;
	margin-left: auto;
	margin-right: auto;

}

h1,h3,h4{
	color: rgb(163,78,2);
	font-family: 'Charter', serif;
	text-shadow: 2px 2px 2px #BF6D02;
	
	
}
a{
	color: #fff;
	text-decoration: none;
}

h1{
	font-size: 5rem;
}
h3{
	font-size: 3rem;

}
h4{
	font-size: 2.5rem;
	text-shadow: 2px 2px 5px white;
}

nav {
	background-color: rgba(121,143,166,0.50);
	padding: 8px;
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;
	width: 100%;
	


}

ul{
	padding: 0;
	list-style-type: none;
}

li {
	font-family: 'Fira Sans', sans-serif;
	font-size: 1rem;
	display: inline;
	padding: 1.5rem;
	color: #fff;
	text-shadow: 1px 1px 4px black;
}

section{
	margin: 2rem auto;
	font-family: 'Fira Sans', sans-serif;
	max-width: 800px;
	font-size: 1.6em;
	display:none;
	text-align: justify;
}

section:target{
	display: block;
}

#about{
	color: gray;
}

#projects{
	color: rgb(163,78,2);

}

#contact{
	color:orange;
}

.aboutimg {
	width: 20%;	
	border: 5px solid white;
	border-radius: 50%;
	display: block;
	margin: 2rem auto;
}

.proj-thumbs {
	margin-top: 3rem;
	width: 16rem;

	
}

figure {
	width: 30%;
	display: inline-block;
	background-color: black;
}

.imgwrap {
	display: inline-block;
	width: 32%;
	margin: 2px;
	vertical-align: top;

}

.caption{
	font-family: 'Fira Sans', sans-serif;
	font-size: 1.2rem;
}

footer{
	font-family: 'Source Code Pro';
	font-size: 1.4rem;
	text-align: center;
	background-color: #798FA6;
	padding: 8rem;
	margin-top: 5rem;

}

@media screen and (max-width:1050px ){
	.imgwrap{
		display: block;
		margin: 2rem auto;
	}

}

@media screen and (max-width: 600px){
		h1{
	font-size: 3rem;
}
h3{
	font-size: 2rem;
	margin-top: 2rem;
}
h4{
	font-size: 1rem;
	text-shadow: 2px 2px 5px white;
}
	

}